<div class="container">
    <app-profile-detail></app-profile-detail>
</div>
<div class="row text-center my-5">
    <div class="col-6">
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getWatchListMovies()">MOVIES WATCH
            LIST</button>
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getRatedMovies()">MOVIES RATED</button>
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getFavouriteMovies()">MOVIES
            FAVORITE</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getWatchListSeries()">TV SERIES WATCH
            LIST</button>
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getRatedSeries()">TV SERIES RATED</button>
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getFavouriteSeries()">TV SERIES
            FAVORITE</button>
    </div>

</div>
<div class="container">
    <ng-template [ngIf]="showMovies"><app-vertical-movies-list></app-vertical-movies-list></ng-template>
    <ng-template [ngIf]="!showMovies"><app-vertical-series-list [serieList]="serieList"></app-vertical-series-list></ng-template>
</div>
