<app-profile-detail></app-profile-detail>
<div class="row text-center my-3">
    <div class="col-6">
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getWatchListMovies()">MOVIES</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-outline-light m-2 bg-black" (click)="getWatchListSeries()">TV SERIES</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-outline-light m-2 sub-btn">WATCH LIST</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-outline-light m-2 sub-btn">FAVOURITES</button>
    </div>
    <div class="col-4">
        <button type="button" class="btn btn-outline-light m-2 sub-btn">RATED</button>
    </div>
</div>
<div>
    <ng-template [ngIf]="!showMovies"><app-vertical-movies-list></app-vertical-movies-list></ng-template>
    <ng-template [ngIf]="showMovies"><app-vertical-series-list [serieList]="serieList"></app-vertical-series-list></ng-template>
</div>
