<div class="container">
    <div class="row">
        <div class="col-3">
            <img [src]="getPeopleImg()" class="rounded w-100" alt="imagen de la persona">
        </div>
        <div class="col-9">
            <span class="fw-bold fs-1 text-white">{{actorToShow.name}}</span><br>
            <span class="fs-4 fst-italic text-white">{{actorToShow.birthday}}</span><br><br>
            <span class="fs-5 fw-light text-white">{{actorToShow.biography}}</span>
        </div>
    </div>
    <h1 class="titleList" style="margin-top: 20px;">Films</h1>
    <div style="overflow-y: auto; white-space: nowrap;" class="scroll-container">
        <div *ngFor="let film of filmsActors" class="card" style="width: calc(25% - 10px); display: inline-block; margin-right: 10px; margin-bottom: 10px; border-radius: 30px; border: none;">
            <app-movie-card [actorFilms]="film"></app-movie-card>
        </div>
    </div>
    <h1 class="titleList" style="margin-top: 20px;">Tv Series</h1>
    <div style="overflow-y: auto; white-space: nowrap;" class="scroll-container">
        <div *ngFor="let serie of seriesActor" class="card" style="width: calc(25% - 10px); display: inline-block; margin-right: 10px; margin-bottom: 10px; border-radius: 30px; border: none;">
            <app-serie-card [seriesActor]="serie"></app-serie-card>
        </div>
    </div>
</div>