<div class="row">
    <div class="col-4">
        <img src="../../../assets/img/placeholder.jpg" alt="imagen perfil">
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <span class="fw-bold fs-1">{{profile.username}}</span>
            </div>
            <div class="col-6">
                <div class=row>
                    <div class="col-6">
                        <span>% Valoración MOVIES</span>
                    </div>
                    <div class="col-6">
                        <span>% Valoración TV SERIES</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <span>Total de Valoraciones <span class="fw-bold">{{numberOfRating}}</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>