<h1 class="titleList">Videos</h1>
<ul class="list-group list-group-horizontal position-relative overflow-auto scroll-container">
    <div *ngFor="let vid of listVideos" class="mx-2">
        <iframe width="560" height="315"
            [src]="getURLVideo(vid)"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen style="border-radius: 30px;"></iframe>
    </div>
</ul>