<nav class="navbar-transparent navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <!-- Primera sección: Imagen y MovieHub a la izquierda -->
            <div class="d-flex align-items-center">
                <img class="navbar-brand" src="../../../assets/img/MH_1.png" style="width: 50px; height: auto;">
                <p class="fuenteModak m-0 ml-2" style="font-size: 18px;">MovieHub</p>
            </div>

            <!-- Segunda sección: Texto Home y Actors en el centro -->
            <div class="d-flex align-items-center fuente">
                <p class="navbar-text mx-2 font-weight-bold" style="font-size: 16px;">HOME</p>
                <p class="navbar-text mx-2" style="font-size: 16px;">MOVIES</p>
                <p class="navbar-text mx-2" style="font-size: 16px;">TV SERIES</p>
                <p class="navbar-text mx-2" style="font-size: 16px;">ACTORS</p>
            </div>

            <!-- Tercera sección: Imagen a la derecha -->
            <div class="d-flex align-items-center">
                <img class="navbar-brand" src="../../../assets/img/perfil.png" style="width: 40px; height: auto;">
            </div>
        </div>
    </div>
</nav>