<div class="card" style="width: 18rem;" (click)="onCardClick()" style="cursor: pointer;">
    <img [src]="getSerieImg()" class="card-img-top" alt="imagen de la persona">
    <div class="overlay">
      <div class="card-content">
        <div class="mt-auto">
          <h5 class="card-title">
            <span class="card-title text-center fw-bold fs-3 text-white">{{ getSerieName() }}</span><br>
            <ngb-rating
            class="rating d-flex card-title text-center"
            [rate]="getSerieRated()"
            [max]="5"
            [readonly]="true"
        ></ngb-rating>    
          </h5>
        </div>
      </div>
    </div>
  </div>
  