<div class="container-fluid"
    [ngStyle]="{'background-image': 'linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) 100%), url('+imgBackground+')'}">
    <div class="row">
        <div class="col-4 text-center">
            <img [src]="getSerieImg()" class="rounded img-serie" alt="imagen de la persona">
        </div>
        <div class="col-7">
            <div class="info-serie">
                <button type="button" [routerLink]="'/series'" class=" btn btn-outline-light mb-4 ms-2 bg-black">TV
                    Serie</button><br>
                <span class="fs-1 fw-bold text-white m-2 mb-4">{{serieToShow.name}}</span><br>
                <span class="text-dark m-2 badge bg-light m-2 mb-4" *ngFor="let comp of listCompany"
                    [routerLink]="['/company-details', comp.id]">{{comp.name}}</span><br>
                <span class="fw-bold  text-white fs-1 m-2">* * * * *</span><br>
                <button type="button" class="btn btn-outline-light m-2 bg-black" *ngFor="let genre of listGenre">{{genre.name}}</button>
                <app-horizontal-actors-list [peopleList]="listCast" class="lista-actores"></app-horizontal-actors-list>
            </div>
        </div>
        <div class="col-1">
            <div class="info-serie">
                <button type="button" class="btn btn-outline-light m-2 bg-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-bookmark" viewBox="0 0 16 16">
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                    </svg>
                </button><br>
                <button type="button" class="btn btn-outline-light m-2 bg-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                </button><br>
                <button type="button" class="btn btn-outline-light m-2 bg-black">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-text-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    </svg>
                </button><br>
            </div>
        </div>
    </div>
</div>
