<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="back-img p-3">
                <img [src]="getCompanyImg()" class="rounded w-100" alt="imagen de la persona">

            </div>
        </div>
        <div class="col-9">
            <span class="fw-bold fs-1 text-white">{{companyToShow.name}}</span><br>
            <span class="fs-4 fst-italic text-white">{{companyToShow.headquarters}}</span><br>
            <span class="fst-italic text-white mt-4">{{companyDesc}}</span><br>
        </div>
    </div>
</div>
